<div class='container'>
  <h1>Stupid coaching</h1>
  <div class='question'>
    <p><%= params[:question] %></p>
    <p>- <em>You</em></p>
  </div>

  <div class='answer'>
    <p><strong><%=@answer%></strong></p>
    <p>- <em>Your coach</em></p>
  </div>

  <a href="/ask" class="btn btn-primary">Ask a new question</a>
</div>


